<nav class="navbar navbar-default christmas-bg-green">
    <div class="container-fluid">
        <div class="jumbotron christmas-bg-red" style="padding: 15px; margin: 10px; text-align: center;">
            <h1 class="mountains-of-christmas-regular"><a routerLink="/home" class="navbar_brand site-brand">Christmas Wish</a></h1>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ><a routerLink="/sendCode" class="link">Sign In</a></li>
                   
                </ul>
                
            </div>
        </div>
   
   
    </div>
</nav>