.christmas-bg-red {
    background-color:#ff7878; 
    box-shadow: 10px 10px 10px rgba(255,255,255, .5);
}

.centerPanel {
    margin:auto;
    width: 80%;
}

.christmas-bg-green {background-color: #74d680; 
}

.mountains-of-christmas-regular {
    font-family: "Mountains of Christmas", serif;
    font-weight: 400;
    font-style: normal;
}

.wishBtn{
    width: 70%; margin: auto; font-size: 50px;
}

.wishBtn:hover{
    background-color: #74d680;
    text-shadow: 10px 10px 10px rgba(255,255,255, .5);
    border: solid 2px;
    border-color: #ff7878;
}